.home--page{
    display: flex;
}

.blogs--section{
   flex: 3;
   margin: 2rem;
   padding: 2rem;
}

.blogs--section:nth-child(1){
    background-color: whitesmoke;
    border-radius: 2px;
}

.aside--section{
    flex:1;
}