*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    width: 100wh;
    height: 10vh;
    border: 1px solid black;
    display: flex;
}

.navbar--link {
    flex: 2; 
}

.navbar--link ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.search--blog{
    flex:1;
}

.profile--logo{
    flex: 1;
}
